.card-div {
  margin-left: 20px;
}
.card-full {
  margin-bottom: 30px;
  width: 18rem;
  color: black;
  background-color:lightgrey;
}
.card-text {
  font-size: 30px;
  color: red;
  font-weight: 1000px;
}
.card-img {
  height: 250px;
  width: 285px;
}
